@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    background-color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 1rem;
}

.logo h2{
    color: #000;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar ul a{
    text-decoration: none;
    font-weight: bold;
    color: #000;

}

section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}