.card {
    background: #000;
    color: #fff;
    width: 560px;
    margin: 0  auto;
    padding: 50px;

}
h1, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
 .links {
     margin-top: 40px;
 }
 .spanclass {
     color: aqua;
 }

 a:link {
     color: black;
 }

 a:visited {
    color: rgb(34, 8, 8);
 }
 a:focus {
     color: aquamarine;
 }

 a:hover {
     color: rebeccapurple;
 }
a:active {
    color: red;
}

.button {
    background: #ffe600;
    color: red;
    display: inline-block;
    padding: 20px;
}

.button:hover {
    background: red;
}

